<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=site.name%> - <%=site.description%></title>
  <link rel="icon" sizes="192x192" href="https://material.io/static/images/simple-lp/favicons/components-192x192.png">
  <link rel="shortcut icon" href="https://material.io/static/images/simple-lp/favicons/components-72x72.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script type="text/javascript" src="https://api.novemberizing.net/js/functional.js"></script>
</head>
<body>
  <div class="container class">
    <header class="header">
      <h1><a href="<%=site.url%>"><%=site.name%></a></h1>
      <p><%=site.summary%></p>
    </header>
    <main class="main"><% for(let i = 0; i < articles.length; i++) { %>
      <article class="article">
        <h2><%-articles[i].subject%></h2>
        <small><%-articles[i].summary%></small>
        <p><%-articles[i].content%></p>
      </article><% } %>
    </main>
    <footer class="footer">
      <%-footer%>
    </footer>
  </div>
</body>
</html>
